/node_modules/
img/Thumbs.db
.idea/workspace.xml
.idea/vcs.xml
.idea/misc.xml
.idea/.name
img/slide/Thumbs.db
.idea/encodings.xml
.idea/modules.xml
.idea/DSP.iml
.idea/jsLibraryMappings.xml
public/img/exec/Thumbs.db
*.db
.idea/libraries/DSP_node_modules.xml
*.db
public/img/exec/Thumbs.db
*.db
npm-debug.log