<div class="container" id="homePage">

    <div id="overlayBG"></div>

    <div id="title">
        <span id="top-span" class="line-span"></span>

        <div id="iconRack">
            <a href="https://www.facebook.com/IlliniDeltaSigs">
                <img class="iconLink" id="fb" src="../img/icons/ic_facebook.png"></a>
            <a href="http://twitter.com/@illinideltasigs">
                <img class="iconLink" src="../img/icons/ic_twitter.png"></a>
            <a href="mailto:president@illinideltasigs.org">
                <img class="iconLink" src="../img/icons/ic_email.png"></a>
            <a href="https://www.google.com/maps/place/105+E+Armory+Ave,+Champaign,+IL+61820">
                <img class="iconLink" src="../img/icons/ic_location.png"></a>
            <span class="stretch"></span>
        </div>

        <f1 class="greenShadow">&Delta;&Sigma;&Phi;</f1><f1 class="orangeShadow">@UIUC</f1>
        <span id="bottom-span" class="line-span"></span>
    </div>

</div>