<div class="container page-container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Rush <strong>Delta Sigma Phi</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <h4 class="text-center">Submit information too get the latest news and information on rush events!</h4>
                    <div class="form-group col-md-3">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="firstname" required=""/>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="lastname" required=""/>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Phone</label>
                        <input type="text" class="form-control" id="phone" required=""/>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Major</label>
                        <input type="text" class="form-control" id="phone" required=""/>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-lg" onclick="">Go!</button>
                    </div>
                </div>
                <div class="col-md-6">
                    <img class="img-responsive img-border-left" src="img/slide/2.jpg" alt="">
                </div>
                 <div class="col-md-6">
                    <hr>
                    <h2 class="intro-text text-center">Rush
                        <strong>Schedule</strong>
                    </h2>
                    <hr>
                </div>
                
                <div class="clearfix"></div>
            </div>
        </div>
</div>
