<div class="container page-container">

        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center">
                        Rush <strong>Delta Sigma Phi</strong>
                    </h2>
                    <hr>
                </div>
                <div class="col-md-12">
                    <h4 class="text-center">Submit information too get the latest news and information on rush events!</h4>
                    <div class="form-group col-md-3">
                        <label>First Name</label>
                        <input type="text" class="form-control" id="firstname" required=""/>
                    </div>
                    <div class="form-group col-md-3">
                        <label>Last Name</label>
                        <input type="text" class="form-control" id="lastname" required=""/>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Phone</label>
                        <input type="text" class="form-control" id="phone" required=""/>
                    </div>
                    <div class="form-group col-md-2">
                        <label>Major</label>
                        <input type="text" class="form-control" id="phone" required=""/>
                    </div>
                    <div class="form-group col-md-2">
                        <input type="hidden" name="save" value="contact">
                        <button type="submit" class="btn btn-lg" id="submit-button" onclick="">Submit</button>
                    </div>
                </div>
                <div class="col-lg-12">
                    <hr>
                </div>
                <div class="col-md-6">
                    <div id="carousel-example-generic" class="carousel slide" data-ride="carousel">
                        <!-- Indicators -->
                        <ol class="carousel-indicators hidden-xs">
                            <li data-target="#carousel-example-generic" data-slide-to="0" class="active"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="1"></li>
                            <li data-target="#carousel-example-generic" data-slide-to="2"></li>
                        </ol>

                        <!-- Wrapper for slides -->
                        <div class="carousel-inner">
                            <div class="item active">
                                <img class="img-responsive img-full carousel-height" src="/img/slide/1.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full carousel-height" src="/img/slide/2.jpg" alt="">
                            </div>
                            <div class="item">
                                <img class="img-responsive img-full carousel-height" src="/img/slide/3.jpg" alt="">
                            </div>
                        </div>

                        <!-- Controls -->
                        <a class="left carousel-control" data-target="#carousel-example-generic" data-slide="prev">
                            <span class="icon-prev"></span>
                        </a>
                        <a class="right carousel-control" data-target="#carousel-example-generic" data-slide="next">
                            <span class="icon-next"></span>
                        </a>
                    </div>
                </div>
                 <div class="col-md-6">
                    <h2 class="intro-text text-center">Rush
                        <strong>Schedule</strong>

                        <!--Calendar embed-->
                        <iframe src="https://calendar.google.com/calendar/embed?showTitle=0&amp;showNav=0&amp;showPrint=0&amp;showTabs=0&amp;showCalendars=0&amp;showTz=0&amp;height=650&amp;wkst=1&amp;bgcolor=%23FFFFFF&amp;src=illinideltasigs.org_vobqh9l34aulqgv3vmlp9135h4%40group.calendar.google.com&amp;color=%23875509&amp;ctz=America%2FChicago" style="border-width:0" width="450" height="650" frameborder="0" scrolling="no"></iframe>

                    </h2>
                    <hr>
                </div>

                <div class="clearfix"></div>
            </div>
        </div>
</div>
