<div class="container page-container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>The Better Man</strong>
                        Scholarship
                    </h2>
                    <hr>
                </div>
                <div class="col-lg-12">
                    <p>Thank you for your interest in the Delta Sigma Phi Recruitment Scholarship. Our organization celebrates academic and extracurricular success at our university through a competitive scholarship program. Please complete the following information. By applying for this scholarship you are not committing yourself to membership in the sponsoring organization or any other organization. The scholarship will be awarded to the four most outstanding applicants, who will each receive $250.</p>
                </div>
                <div class="clearfix"></div>
            </div>
        </div>
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="text-center">
                    </h2>
                    <hr>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstname" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lastname" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <input type="text" class="form-control" name="phone" required=""/>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address Line</label>
                                <input type="text" class="form-control" name="adressline" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>City</label>
                                <input type="text" class="form-control" name="city" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>State</label>
                                <input type="text" class="form-control" name="state" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Zip Code</label>
                                <input type="text" class="form-control" name="zip" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Date of Birth</label>
                                <input type="text" class="form-control" name="birthday" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>High School</label>
                                <input type="text" class="form-control" name="highschool" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Class Rank <small>(Rank / Class Size)</small></label>
                                <input type="text" class="form-control" name="classrank" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>GPA <small>(GPA / Total)</small></label>
                                <input type="text" class="form-control" name="gpa" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Intended Major</label>
                                <input type="text" class="form-control" name="major" required=""/>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Honors, Achievements, Awards</label>
                                <textarea class="form-control" rows="3" name="honors" required=""></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Community Service/Extracurricular Activities</label>
                                <textarea class="form-control" rows="3" name="service" required=""></textarea>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Our fraternity prides itself on creating better men, that in turn, help the world around us. What are some specific qualities that a better man has? When in your life have you demonstrated one of these qualities, or when have you been challenged by another man to adopt some of these qualities? Please keep answer under 500 words.</label>
                                <textarea class="form-control" rows="6" name="essay" required=""></textarea>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-lg btn-success">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>