<div class="container">
        <div class="row">
            <div class="box">
                <div class="col-lg-12">
                    <hr>
                    <h2 class="intro-text text-center"><strong>The Better Man</strong> Scholarship Application
                    </h2>
                    <hr>
                    <form role="form">
                        <div class="row">
                            <div class="form-group col-md-6">
                                <label>First Name</label>
                                <input type="text" class="form-control" name="firstname" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Last Name</label>
                                <input type="text" class="form-control" name="lastname" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Email</label>
                                <input type="text" class="form-control" name="email" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Phone</label>
                                <input type="text" class="form-control" name="phone" required=""/>
                            </div>
                            <div class="form-group col-md-12">
                                <label>Address Line</label>
                                <input type="text" class="form-control" name="adressline" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>City</label>
                                <input type="text" class="form-control" name="city" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>State</label>
                                <input type="text" class="form-control" name="state" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Zip Code</label>
                                <input type="text" class="form-control" name="zip" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Date of Birth</label>
                                <input type="text" class="form-control" name="birthday" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>High School</label>
                                <input type="text" class="form-control" name="highschool" required=""/>
                            </div>
                            <div class="form-group col-md-4">
                                <label>Class Rank <small>(Rank / Class Size)</small></label>
                                <input type="text" class="form-control" name="classrank" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>GPA <small>(GPA / Total)</small></label>
                                <input type="text" class="form-control" name="gpa" required=""/>
                            </div>
                            <div class="form-group col-md-6">
                                <label>Intended Major</label>
                                <input type="text" class="form-control" name="major" required=""/>
                            </div>
                            <div class="clearfix"></div>
                            <div class="form-group col-lg-12">
                                <input type="hidden" name="save" value="contact">
                                <button type="submit" class="btn btn-default">Submit</button>
                            </div>
                        </div>
                    </form>
                </div>
            </div>
        </div>
</div>